#success_message {
    display: none;
}

.container {
    font-family: Bahnschrift;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.img {
    width: 600px;
    height: 300px;
}

.form-group {

    align-items: center;
    font-size: large;
}

.form-group1 {
    align-items: center;
    font-size: large;
}

.button {
    font-size: 32px;
}

.date {
    font-size: 32px;
}

.title {
    font-size: 52px;
}

.finishline {
    inline-size: 610px;
    overflow-wrap: break-word;
    font-size: 32px;
}

.indexlable {
    font-size: 20px;
}

.form-group {
    margin-left: 29%;
}

.form-group-btn-confirm {
    margin-left: 24%;

}

.form-group-radio {
    margin-left: 26%;
}

@media only screen and (max-width: 475px) {

    .container {
        font-family: Bahnschrift;
        margin: 0;
        position: absolute;
        top: 60%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }


    .img {
        width: 300px;
        height: 200px;
    }

    .title {
        font-size: 32px;
    }

    .finishline {
        inline-size: 320px;
        overflow-wrap: break-word;
        font-size: 16px;
    }

    .indexlable {
        font-size: 10px;
    }

    .form-group {
        margin-left: 22%;
        margin-right: 22%;
    }

    .form-group-btn-confirm {
        margin-left: 18%;
        margin-right: 18%;
    }

    .form-group-radio {
        margin-left: 18%;

    }

}
